/* 全局动态 */
.BS-show {
    opacity: 1;
}
.BS-hide {
    opacity: 0;
}


/* 社交声誉优化 */
#faction-reputations {
    grid-template-columns: unset
}

/* 头像 */
#story {
    padding-bottom: 100px;
}
#avatar-container {
    position: fixed;
    bottom: -100px;
    left: -100px;

    width: 200px;
    height: 200px;

    border-radius: 50%;
    background: #222222;
}
#avatar {
    width: 200px;
    height: 200px;
}


/* 浮动 characteristic-box */
.characteristics-display-bs {
    position: fixed;
    right: 10px;
    top: 20px;
    width: 80vw;
    max-width: 400px;
    z-index: 1001;  /* 高于成就 */
    transition: opacity 0.8s ease;
}

.characteristics-display-bs * {
    transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.characteristic-box-bs {
    background-color: var(--850);
}

.characteristic-box-bs > .characteristic-box > .meter {
    z-index: 0;
}


/* 状态缓动 */
.meter div {
    transition: width 0.8s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.8s ease;
}

/* 折叠状态框取消底部dot */
mouse.tooltip-small, mouse.tooltip-centertop {
    border-bottom: 0;
}

/* 配置stat底部状态条 */
.stat .meter {
    z-index: 0;
    height: 2px;
}
.stat .meter div {
    height: 2px;
}
